body {
  width: 100%;
}

.soundwave {
  max-width: 25em;
}

.audio-gradient {
  background: linear-gradient(#f35f82, #f47c57, #f79f1c);
  position: absolute;
  width: 100%;
  height: 375px;
}

.audio-content {
  position: relative;
}

.record-info {
  max-width: 25em;
  color: #fff;
  text-decoration: none;
}

.record-btn {
  max-width: 5em;
}

.play-btn {
  max-width: 2.5em;
}

link-fab-nav
.drop {
  width: 50%;
}

@media only screen and (min-width: 38em) {

  .audio-gradient {
    height: 400px;
  }

}

=======
body {
  width: 100%;
 master
}
