.header-all {
  width: 100%;
  height: 3em;
  border-bottom: solid 2px lightgrey;
  position: fixed;
  z-index: 2000;
  background-color: white;
}

.header-all a {
  text-decoration: none;
  color: grey;
}

.header-all a:hover {
  color: #ec407a;
}

.logo-top {
  width: 8em;
  margin: 4px 0px 8px 140px;
  padding-left: 1em;

}

.logout {
  float: right;
  margin-right: 1em;
  margin-top: 1em;
}


@media only screen and (min-width: 38em) {

  .header-all {
    width: 100%;
    height: 3em;
    border-bottom: solid 2px lightgrey;
    position: fixed;
    z-index: 2000;
    background-color: white;
  }

  .header-all a {
    text-decoration: none;
    color: grey;
  }

  .header-all a:hover {
    color: #ec407a;
  }

  .logo-top {
    width: 8em;
    margin: 4px 0px 8px 0px;
    padding-left: 1em;

  }

  .logout {
    float: right;
    margin-right: 1em;
    margin-top: 1em;
  }
}
