body {
  width: 100%;
}

.navbar {
  overflow: hidden;
  font-family: Arial, Helvetica, sans-serif;
}

.navbar a {
  float: left;
  font-size: 16px;
  color: #000;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.dropdown {
  float: left;
  overflow: hidden;
}

.dropdown .dropbtn {
  cursor: pointer;
  font-size: 22px;
  border: none;
  outline: none;
  color: #000;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}

.navbar a:hover, .dropdown:hover .dropbtn, .dropbtn:focus {
  background-color: #b4004e;
  color: #fff;
  border-radius: 0px;
}

.dropdown-content {
  display: none;
  background-color: #fff;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  float: none;
  color: #ff77a9;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropbtn:hover {
  border-radius: 0px;
}

.dropdown-content a:hover {
  background-color: #b4004e;
}

.show {
  display: inline-block;
}

.note-tools {
  padding-top: 3em;
  padding-right: 2em;
}

.text-field {
  padding-top: 3em;
}

@media only screen and (min-width: 38em) {

  .note-tools {
    padding-left: 15em;
    padding-top: 3em;
  }

  .text-field {
    padding-left: 15em;
    padding-top: 3em;
  }
}
